@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --text1-light: Poppins;

  /* font sizes */
  --text1-light-size: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --h1-size: 36px;
  --font-size-3xl: 56px;

  /* Colors */
  --color-white: #fff;
  --color-orange-100: #ff7527;
  --color-orange-200: rgba(255, 117, 39, 0.8);
  --color-orange-300: rgba(255, 117, 39, 0.2);
  --color-orange-400: rgba(255, 117, 39, 0.5);
  --color-gray-100: #203239;
  --color-gray-200: #1d292c;
  --color-gray-300: rgba(32, 50, 57, 0.55);
  --color-gray-400: rgba(32, 50, 57, 0.9);
  --color-beige-100: #eeedde;
  --color-beige-200: rgba(238, 237, 222, 0);
  --color-tan-100: #d68e71;
  --color-tan-200: rgba(214, 142, 113, 0.2);

  /* Gaps */
  --gap-0: 0px;
  --gap-sm: 4px;
  --gap-md: 12px;
  --gap-lg: 24px;
  --gap-xl: 64px;

  /* Paddings */
  --padding-sm: 13px;
  --padding-md: 24px;
  --padding-lg: 41px;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 10px;
}
